html,
body {
    height: 100%;
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
input,
select,
textarea,
button,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
p,
blockquote,
figure,
header,
footer,
nav,
article,
section,
aside,
address,
figcaption {
    *zoom: 1;
}

li {
    list-style: none;
}

i {
    font-style: normal;
}

a:link,
a:visited,
a:active,
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    display: block;
}

img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    border: 0;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

@media only screen and (max-width: 1366px) {
    .line_height19 {
        line-height: 1.5
    }
    .mt_85 {
        margin-top: 65px;
    }
    .mb_85 {
        margin-bottom: 65px;
    }
    .mt_75 {
        margin-top: 55px;
    }
    .mt_70 {
        margin-top: 50px;
    }
    .mb_75 {
        margin-bottom: 55px;
    }
    .pt_75 {
        padding-top: 55px;
    }
    .pb_75 {
        padding-bottom: 55px;
    }
    .pt_60 {
        padding-top: 45px;
    }
    .pb_60 {
        padding-bottom: 45px;
    }
    .mt_35 {
        margin-top: 25px;
    }
    .mt_55 {
        margin-top: 50px;
    }
    .mt_90 {
        margin-top: 70px;
    }
    .mt_100 {
        margin-top: 80px;
    }
    .mt_160 {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 1200px) {
    .line_height21 {
        line-height: 1.8
    }
    .mt_100 {
        margin-top: 70px;
    }
    .mt_55 {
        margin-top: 40px;
    }
    .mt_45 {
        margin-top: 35px;
    }
    .mt_40 {
        margin-top: 30px;
    }
    .mt_35 {
        margin-top: 18px;
    }
    .mt_30 {
        margin-top: 20px;
    }
    .mt_25 {
        margin-top: 20px;
    }
    .mt_20 {
        margin-top: 15px;
    }
    .mt_15 {
        margin-top: 10px;
    }
    .mt_85 {
        margin-top: 45px;
    }
    .mb_85 {
        margin-bottom: 45px;
    }
    .mt_75 {
        margin-top: 35px;
    }
    .mb_75 {
        margin-bottom: 35px;
    }
    .mt_90 {
        margin-top: 50px;
    }
    .pt_75 {
        padding-top: 35px;
    }
    .pb_75 {
        padding-bottom: 35px;
    }
    .pt_60 {
        padding-top: 30px;
    }
    .pb_60 {
        padding-bottom: 30px;
    }
    .mt_160 {
        margin-top: 110px;
    }
}

@media only screen and (max-width: 1000px) {
    .mt_85 {
        margin-top: 30px;
    }
    .mb_85 {
        margin-bottom: 30px;
    }
    .mt_35 {
        margin-top: 10px;
    }
    .mt_70 {
        margin-top: 40px;
    }
    .mt_75 {
        margin-top: 20px;
    }
    .mb_75 {
        margin-bottom: 20px;
    }
    .pt_75 {
        padding-top: 20px;
    }
    .pb_75 {
        padding-bottom: 20px;
    }
    .pt_60 {
        padding-top: 20px;
    }
    .pb_60 {
        padding-bottom: 20px;
    }
    .mt_30 {
        margin-top: 15px;
    }
    .mt_25 {
        margin-top: 15px;
    }
    .mt_90 {
        margin-top: 20px;
    }
    .mt_100 {
        margin-top: 50px;
    }
    .mt_160 {
        margin-top: 80px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media only screen and (max-width: 767px) {
    .line_height21 {
        line-height: 1.6
    }
    .mt_50 {
        margin-top: 20px;
    }
    .mt_55 {
        margin-top: 30px;
    }
    .mt_45 {
        margin-top: 25px;
    }
    .mt_40 {
        margin-top: 20px;
    }
    .mt_30 {
        margin-top: 10px;
    }
    .mt_70 {
        margin-top: 20px;
    }
    .line_height19 {
        line-height: 1.4
    }
    .mt_25 {
        margin-top: 10px;
    }
    .mt_20 {
        margin-top: 10px;
    }
    .mt_15 {
        margin-top: 10px;
    }
    .mt_35 {
        margin-top: 14px;
    }
    .mt_100 {
        margin-top: 15px;
    }
    .mt_95 {
        margin-top: 15px;
    }
    .mt_160 {
        margin-top: 50px;
    }
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media screen and (max-device-width: 320px) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media only screen and (max-width: 767px) {
    .fnt_48 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 670px) {
    .fnt_60 {
        font-size: 19px;
    }
}

@media only screen and (max-width: 350px) {
    .header .nav_right ul>li a::after {
        right: 33%;
    }
    .fnt_72 {
        font-size: 20px;
    }
    .header .nav_btn {
        margin-top: 18px;
    }
}

@media only screen and (max-width: 395px) {
    .sub_h {
        height: 80px;
    }
    .s_banner {
        margin-top: 90px;
    }
    /* .header { */
    /*background: #fff;*/
    /* } */
    .fzcon_top {
        min-height: auto;
    }
    .search_btn {
        margin-left: 38%;
    }
    .map_con dd a {
        width: 18%;
    }
    .gg_d_ri {
        width: 86%;
    }
    .fnt_72 {
        font-size: 23px;
    }
    .header .nav_btn {
        margin-top: 22px;
    }
    .stock_area li {
        font-size: 12px;
    }
    .ss_price_date {
        font-size: 12px;
    }
}

@media only screen and (max-width: 375px) {
    .gg_d_ri {
        width: 84%;
    }
    .f_right {
        width: 76%;
    }
    .news_cell li {
        padding-bottom: 50%;
    }
    .inve_cell li {
        padding-bottom: 50%;
    }
    .map_con dd a {
        width: 16%;
    }
    .ct_gl_t p {
        font-size: 12px;
    }
    .ct_add span:nth-child(odd) {
        width: 17.5%;
    }
    .stock_area ul.mt_25 {
        margin-top: 0;
    }
    .stock_area li.mt_5 {
        margin-top: 0;
    }
    .fz_rt_con ul li.mt_35 {
        margin-top: 10px;
    }
    .gg_r h1 {
        float: left;
        position: static;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
        -ms-transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        box-sizing: border-box;
        padding: 8px 8px 0;
    }
    .gg_r h2 {
        float: left;
        position: static;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
        -ms-transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        box-sizing: border-box;
        line-height: 18px;
        padding: 8px 8px 0;
    }
}

@media only screen and (max-width: 1440px) {
    .fnt_22 {
        font-size: 18px;
    }
    .fnt_24 {
        font-size: 20px;
    }
    .fnt_26 {
        font-size: 24px;
    }
    .fnt_28 {
        font-size: 24px;
    }
    .fnt_30 {
        font-size: 30px;
    }
    .fnt_32 {
        font-size: 30px;
    }
    .fnt_34 {
        font-size: 30px;
    }
    .fnt_36 {
        font-size: 32px;
    }
    .fnt_38 {
        font-size: 32px;
    }
    .fnt_40 {
        font-size: 34px;
    }
    .fnt_42 {
        font-size: 34px;
    }
    .fnt_44 {
        font-size: 34px;
    }
    .fnt_46 {
        font-size: 36px;
    }
    .fnt_48 {
        font-size: 36px;
    }
    .fnt_50 {
        font-size: 38px;
    }
    .fnt_52 {
        font-size: 38px;
    }
    .fnt_54 {
        font-size: 38px;
    }
    .fnt_56 {
        font-size: 40px;
    }
    .fnt_58 {
        font-size: 40px;
    }
    .fnt_60 {
        font-size: 42px;
    }
    .fnt_72 {
        font-size: 44px;
    }
}

@media only screen and (max-width: 1280px) {
    .fnt_90 {
        font-size: 30px;
    }
    .fnt_20 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1200px) {
    .fnt_20 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .fnt_18 {
        font-size: 16px;
    }
    .fnt_24 {
        font-size: 18px;
    }
    .fnt_26 {
        font-size: 20px;
    }
    .fnt_28 {
        font-size: 20px;
    }
    .fnt_30 {
        font-size: 24px;
    }
    .fnt_32 {
        font-size: 24px;
    }
    .fnt_34 {
        font-size: 24px;
    }
    .fnt_36 {
        font-size: 26px;
    }
    .fnt_38 {
        font-size: 26px;
    }
    .fnt_40 {
        font-size: 30px;
    }
    .fnt_42 {
        font-size: 30px;
    }
    .fnt_44 {
        font-size: 30px;
    }
    .fnt_46 {
        font-size: 32px;
    }
    .fnt_48 {
        font-size: 32px;
    }
    .fnt_50 {
        font-size: 34px;
    }
    .fnt_52 {
        font-size: 34px;
    }
    .fnt_54 {
        font-size: 34px;
    }
    .fnt_56 {
        font-size: 36px;
    }
    .fnt_58 {
        font-size: 36px;
    }
    .fnt_60 {
        font-size: 38px;
    }
    .fnt_72 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 920px) {
    .fnt_60 {
        font-size: 28px;
    }
    .fnt_48 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .fnt_14 {
        font-size: 12px;
    }
    .fnt_16 {
        font-size: 14px;
    }
    .fnt_18 {
        font-size: 14px;
    }
    .fnt_20 {
        font-size: 14px;
    }
    .fnt_22 {
        font-size: 16px;
    }
    .fnt_24 {
        font-size: 14px;
    }
    .fnt_26 {
        font-size: 18px;
    }
    .fnt_28 {
        font-size: 18px;
    }
    .fnt_30 {
        font-size: 18px;
    }
    .fnt_32 {
        font-size: 22px;
    }
    .fnt_34 {
        font-size: 22px;
    }
    .fnt_36 {
        font-size: 24px;
    }
    .fnt_38 {
        font-size: 24px;
    }
    .fnt_40 {
        font-size: 24px;
    }
    .fnt_42 {
        font-size: 24px;
    }
    .fnt_44 {
        font-size: 24px;
    }
    .fnt_46 {
        font-size: 24px;
    }
    .fnt_48 {
        font-size: 26px;
    }
    .fnt_50 {
        font-size: 26px;
    }
    .fnt_52 {
        font-size: 26px;
    }
    .fnt_54 {
        font-size: 28px;
    }
    .fnt_56 {
        font-size: 28px;
    }
    .fnt_58 {
        font-size: 28px;
    }
    .fnt_60 {
        font-size: 25px;
    }
    .fnt_72 {
        font-size: 32px;
    }
}


/*适配*/


/*resize*/

@media only screen and (min-width: 1900px) {
    .ban_focus li .ban_f_con h3 {
        width: 59%;
    }
}

@media only screen and (max-width: 1758px) {
    .fz_rt_con ul li a.fnt_20 {
        font-size: 16px;
    }
    .fz_rt_con .gg_more.mt_25 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1565px) {
    .fz_rt_con ul li.mt_35 {
        margin-top: 20px;
    }
    .fz_rt_con ul li .mt_12 {
        margin-top: 3px;
    }
}

@media only screen and (max-width: 1392px) {
    .fz_rt_con ul li a.fnt_20 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1370px) {
    .main_focus .f_bp img {
        width: 100%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .sub_main_focus .f_bp img {
        width: 100%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .fz_text h1.fnt_48 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1366px) {
    .sub_menu {
        padding-left: 10px;
    }
    .gs_p03.mt_110 {
        margin-top: 50px;
    }
    .gs_p04 {
        padding: 0 10px 0;
    }
    .gs_p04.mt_180 {
        margin-top: 170px;
    }
    .gs_p05.ml_70 {
        margin-left: 50px;
    }
    .main_con {
        padding: 50px 0;
    }
    .main_left ul {
        min-height: 430px;
    }
    .footer_area {
        height: 240px;
    }
    .fz_rt_con ul li.mt_35 {
        margin-top: 10px;
    }
    .section {
        height: auto!important;
    }
    #section2 .bx-wrapper .bx-viewport {
        height: auto!important;
    }
    #section2 {
        height: auto!important;
    }
    .bx-wrapper .bx-viewport {
        box-shadow: none;
        border: none;
        left: none;
        background: none;
    }
    .fz_rt_con .gg_more.mt_55 {
        margin-top: 20px;
    }
    .foot_right.mt_95 {
        margin-top: 75px;
    }
}

@media only screen and (max-width: 1280px) {
    .bx-wrapper .bx-viewport {
        height: auto!important;
        left: 0;
    }
    .fz_rt_con ul li.mt_35 {
        margin-top: 10px;
    }
    .fz_rt_con .mt_55 {
        margin-top: 32px;
    }
    .sub_content {
        padding: 0 20px 0;
        box-sizing: border-box;
    }
    .sub_content.mt_55 {
        margin-top: 25px;
    }
    #waterfall {
        padding-top: 0;
    }
    #waterfall .cell {
        margin-top: 25px;
    }
    .gg_d_ri h1.fnt_18 {
        font-size: 16px;
    }
    .wrap_b_cop {
        padding: 0 20px 0;
    }
    .sub_main_con {
        padding-top: 10px;
    }
    .cy_content h2.pt_50 {
        padding-top: 20px;
    }
    .cy_content.mt_55 {
        margin-top: 21px;
    }
    .cy_content .pt_50 {
        padding-top: 10px;
    }
    .header {
        padding: 0 0 0 20px;
    }
    .footer {
        padding: 0 20px;
    }
    .s_footer_area {
        height: 200px;
    }
    .wrap_con_us {
        padding: 0 10px 0;
        box-sizing: border-box;
    }
    .wrap_copper {
        padding: 0 10px 50px;
        box-sizing: border-box;
    }
    .fzcon_top {
        min-height: auto;
    }
    .fz_b_pics {
        padding: 0 10px 20px;
        box-sizing: border-box;
    }
    .news_top {
        padding: 0 10px 0;
        box-sizing: border-box;
    }
    .se_main_con {
        padding: 10px 10px 0;
        box-sizing: border-box;
    }
    .sub_main_focus {
        padding: 0 10px 0;
        box-sizing: border-box;
    }
    .se_in_area {
        padding: 0 10px 0;
        box-sizing: border-box;
    }
    .page_area.pt_100 {
        padding-top: 50px;
    }
    .page_area.pb_100 {
        padding-bottom: 50px;
    }
    .header.sub_h {
        background: #fff;
    }
    .fz_rt_con ul .fnt_20 {
        font-size: 13px;
    }
    .gg_more.fnt_16 {
        font-size: 13px;
    }
    .gg_more.mt_55 {
        margin-top: 5px;
    }
    .map_con dt a {
        font-size: 20px;
    }
    .map_con dd a {
        font-size: 14px;
    }
    .ct_add_area li {
        width: 21.7%;
    }
    .ct_add_area li h1.fnt_16 {
        font-size: 14px;
    }
    .ct_add {
        font-size: 13px;
    }
    .news_d_relate a {
        height: 90px;
        line-height: 90px;
    }
    .jn_con ul li .jn_span {
        height: 150px;
    }
    .jn_con ul li p {
        height: 3em;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .jn_con ul li .ml_15 {
        margin-left: 4px;
    }
}

@media only screen and (min-width: 1255px) {
    .nav_right {
        opacity: 1;
    }
}

@media only screen and (max-width: 1250px) {
    .nav_right>ul li a span {
        background: #FFF;
    }
    .ct_pa_l,
    .ct_pa_r {
        font-size: 13px;
    }
    .s_banner {
        margin-top: 110px;
    }
    .header_area {
        background: #000;
    }
    .sub_header_area {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    /* .search_btn {background: url(../img/sub_s.jpg) no-repeat;} */
    /* .sub_h .search_btn {
        background: url(../img/jt_search.png) no-repeat;
    } */
    .sub_h .language_sel a {
        color: #fff;
    }
    .search_btn {
        margin-left: 46%;
    }
    .header {
        height: 80px;
    }
    .header .nav_right {
        display: none;
    }
    .header .nav_right {
        position: fixed;
        width: 100%;
        top: 79px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: #000;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .header .nav_right>ul {
        width: 100%;
        overflow-y: auto;
        padding-left: 0;
    }
    .header .nav_right ul>li dl dd a::after {
        background: none;
    }
    .nav_right ul li a i::after {
        background: none;
    }
    .header .nav_right * {
        box-sizing: border-box;
    }
    .header .nav_btn {
        display: block;
        margin: 35px 20px 0 0;
        float: right;
        cursor: pointer;
        height: 32px;
        width: 30px;
        position: relative;
    }
    .header .nav_btn span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 16px;
        left: 0px;
        -webkit-transition: background-color 0.3s ease-out 0.1s;
        -o-transition: background-color 0.3s ease-out 0.1s;
        transition: background-color 0.3s ease-out 0.1s;
    }
    .header .nav_btn span:after {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 8px;
        left: 0px;
        -webkit-transition: transform 0.3s ease-out, top 0.5s ease 0.4s;
        -o-transition: transform 0.3s ease-out, top 0.5s ease 0.4s;
        transition: transform 0.3s ease-out, top 0.5s ease 0.4s;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .header .nav_btn span:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: -8px;
        left: 0px;
        -webkit-transition: transform 0.3s ease-out, top 0.5s ease 0.4s;
        -o-transition: transform 0.3s ease-out, top 0.5s ease 0.4s;
        transition: transform 0.3s ease-out, top 0.5s ease 0.4s;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .header .nav_right ul>li.cur a::after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .sub_h .nav_btn span,
    .sub_h .nav_btn span:after,
    .sub_h .nav_btn span:before {
        background-color: #000;
    }
    .header.btn_click .nav_right {
        opacity: 0.8;
        visibility: visible;
        display: block;
    }
    .header.btn_click .nav_btn span {
        background-color: transparent;
    }
    .header.btn_click .nav_btn span:after {
        -webkit-transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
        -o-transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
        transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0px;
    }
    .header.btn_click .nav_btn span:before {
        -webkit-transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
        -o-transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
        transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
    }
    .header.btn_click .nav {
        visibility: visible;
        opacity: 1;
        top: 80px;
    }
    .header .nav_right>ul>li {
        position: relative;
        width: 100%;
        border-top: 1px solid #181818;
        height: auto;
    }
    .header .nav_right>ul>li>a {
        font-size: 16px;
        color: #fff;
        position: relative;
    }
    .header .nav_right li a {
        color: #fff;
        display: block;
        width: 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    /* .header .nav_right ul>li a::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 8px;
        right: 44%;
        top: 44%;
        background: url(../img/ly-icon14.png) no-repeat left center;
        vertical-align: middle;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    } */
    .header .nav_right ul>li.cur a::after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .header .nav_right>ul li dl {
        z-index: 9999;
        padding: 48px 0 10px;
        display: none;
        position: static;
        /*top: 50px;
    left: 0px;
    right: 0px;*/
        background-color: #000;
    }
    .header .nav_right>ul li dl dd {
        position: relative;
        text-align: center;
        height: 40px;
    }
    .header .nav_right>ul li dl dd>a {
        height: 40px;
        line-height: 40px;
        display: inline-block;
    }
    .nav_right>ul li a span {
        bottom: 0;
    }
    .header .nav_right ul li:hover a {
        color: #fff;
    }
    .header .nav_right ul li dl dd:hover a {
        background: #dcc07f;
        color: #fff!important;
    }
    .banner {
        padding-top: 83px;
    }
    .main_right {
        width: 30%;
    }
}

@media only screen and (max-width: 1200px) {
    .section {
        height: auto!important;
    }
    .stock_area ul.fnt_24 {
        font-size: 14px;
    }
    .stock_area li {
        height: 25px;
        line-height: 25px;
    }
    .ss_price_date {
        margin-top: 2px;
    }
    .gs_p02.ml_145 {
        margin-left: 12%;
    }
    .gs_p06 {
        top: 33%;
    }
    .yw_b_pics.mt_110 {
        margin-top: 20px;
    }
    .news_right.mt_130 {
        margin-top: 100px;
    }
    .gs_p05.ml_70 {
        margin-left: 30px;
    }
    .ct_add {
        font-size: 12px;
    }
    .ct_add_area li {
        padding: 40px 10px 20px 19px;
    }
    .ct_add_area.mt_80 {
        margin-top: 40px;
    }
    .foot_right.mt_95 {
        margin-top: 65px;
    }
    .foot_right .bdshare-support {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 1160px) {
    .ct_pa_l,
    .ct_pa_r {
        font-size: 12px;
    }
    .gg_d_ri {
        width: 84%;
    }
}

@media only screen and (max-width: 1110px) {
    .ct_add_area.mt_80 {
        margin-top: 20px;
    }
    .ct_add_area li {
        box-sizing: border-box;
        width: 49.25%;
        height: 248px;
        padding: 20px 8px 17px 27px;
    }
    .ct_add_area li:nth-child(2n) {
        margin-right: 0;
    }
    .ct_add_area li h1 {
        line-height: 23px;
    }
    .ct_add {
        height: 90px;
    }
    .ct_add.mt_30 {
        margin-top: 0px;
    }
    .ct_add span:nth-child(odd) {
        width: 12.5%;
    }
}

@media only screen and (max-width: 1100px) {
    .prc_text {
        top: 31%;
    }
    .us_ri_c .mt_300 {
        margin-top: 52%;
    }
    .lc_left .lc_l_pic p {
        padding: 0 4px 0;
    }
    .yw_cl_l span {
        width: 100%;
    }
    .yw_c_le.mt_100 {
        margin-top: 6%;
    }
    .fzcon_top .mt_110 {
        margin-top: 10%;
    }
    .fz_rt_con ul li a {
        -webkit-line-clamp: 1;
        line-height: 1.5;
        height: 1.5em;
    }
    #select_text {
        display: block;
    }
    .cop_left {
        position: relative;
    }
    .cop_left ul {
        position: absolute;
        top: 44px;
        left: 0;
        width: 300px;
        height: 222px;
        display: none;
        overflow-y: auto;
    }
    .cop_left ul li {
        color: #fff;
        float: left;
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }
    .cop_left ul li span {
        width: 100%;
        box-sizing: border-box;
    }
    /* .cop_left ul li.sp_on span {
        background: url(../img/cl_bac.png) repeat-x;
    } */
    .cop_left ul li:hover span {
        background: #c8ab67;
    }
    .cop_b_title.mt_95 {
        margin-top: 20px;
    }
    .wrap_b_cop .w1280 {
        padding: 0 20px;
    }
    .cop_left.mt_50 {
        margin-top: 15px;
    }
    .cop_right {
        float: left;
        width: 100%;
        margin-right: 0;
        margin-top: 50px;
    }
    .cop_right ul li span {
        float: left;
        width: 55%;
        height: 0;
        overflow: hidden;
        padding-bottom: 41%;
        margin-right: 20px;
    }
    .cop_ri_t {
        width: 42%;
    }
    .lc_right.mt_200 {
        margin-top: 100px;
    }
    .lc_l_des h1.fnt_40 {
        margin-top: 20px;
        font-size: 25px;
    }
    .lc_l_des p.fnt_14 {
        font-size: 12px;
    }
    .time_line.mt_80 {
        margin-top: 20px;
    }
    .time_area.mt_60 {
        margin-top: 30px;
    }
    .lc_area {
        height: 600px;
    }
    .ct_gl_t p {
        font-size: 13px;
    }
    .ct_l {
        width: 55%;
    }
    .ct_r {
        width: 43%;
    }
    .gg_d_ri {
        width: 83%;
    }
}

@media only screen and (max-width: 1026px) {
    .fz_text h1.fnt_48 {
        font-size: 26px;
    }
    .news_cell.mb_100 {
        margin-bottom: 50px;
    }
    .gg_d_ri h1.fnt_18 {
        font-size: 14px;
    }
    .gg_d_ri {
        width: 81%;
    }
    .foot_mid {
        margin-left: 80px;
    }
    .main_con {
        padding: 3% 10px;
    }
    .inve_t_top_mm.mt_95 {
        margin-top: 10%;
    }
    .footer {
        padding-left: 10px;
    }
    .fz_left img {
        width: 100%;
    }
    .fz_r_top img {
        width: 100%;
        height: auto;
    }
    .f_left {
        display: none;
    }
    .f_right {
        top: 5%;
        margin-left: 14%;
        float: left;
        width: 42%;
    }
    .fz_r_bot {
        height: 160px;
    }
    .fz_rt_con ul {
        width: 85%;
    }
    .prc_text {
        top: 11%;
    }
    .stock_area li span.fnt_24 {
        font-size: 15px;
    }
    .fz_rt_con ul li a.mt_12 {
        margin-top: 0;
    }
    .fz_rt_con ul li a {
        line-height: 23px;
    }
    .fz_rt_con .mt_55 {
        margin-top: 11px;
    }
    .yw_c_le.mt_100 {
        margin-top: 3%;
    }
    .world_map img,
    .cn_map img,
    .cd_map_all {
        display: none;
    }
    .mb_tab_all {
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    .foot_right.mt_95 {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 980px) {
    .us_ri_c h1 {
        margin-top: 18%;
        width: 75%;
    }
    .us_ri_c p {
        width: 75%;
    }
    .fzcon_top .mt_110 {
        margin-top: 5%;
    }
    .us_con {
        height: auto;
        padding-bottom: 20px;
    }
    .us_list {
        width: 100%;
    }
    .us_list li {
        padding-right: 10px;
    }
    .us_ri_c .mt_300 {
        margin-top: 32%;
    }
    .cc_left .de_cc_text {
        width: 70%;
        top: 20%;
    }
    .cc_right .de_cc_text {
        width: 70%;
        top: 20%;
    }
    .gg_con_top ul li {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 3.5%;
    }
    .gg_con_top ul li:nth-child(2n) {
        margin-right: 0;
    }
    .gg_d_ri {
        width: 90%;
    }
    .gg_d_t {
        margin-top: 5%;
    }
    .sub_main_focus li .f_mid {
        padding: 3% 4% 3%;
    }
    .inve_cell li p {
        -webkit-line-clamp: 2;
        line-height: 1.5;
        height: 3em;
    }
    .news_cell li p {
        -webkit-line-clamp: 2;
        line-height: 1.5;
        height: 3em;
    }
    .search_btn {
        margin-left: 45%;
    }
}

@media only screen and (max-width: 920px) {
    .wrap_b_cop {
        height: auto;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 905px) {
    .news_right.mt_130 {
        margin-top: 60px;
    }
    .fzcon_top.mt_50 {
        margin-top: 20px;
    }
    .fzcon_top .mt_110 {
        margin-top: 1%;
    }
    .pb_fre .sub_content {
        padding-bottom: 20px;
    }
    .fz_le {
        width: 100%;
    }
    .fz_ri {
        width: 100%;
    }
    .gs_p02.ml_145 {
        margin-left: 10%;
    }
    .gg_th_list ul li {
        width: 19.1%;
    }
    .gg_th_list ul li:nth-child(6n) {
        margin-right: 0.9%;
    }
    .gg_th_list ul li:nth-child(10) {
        margin-right: 0;
    }
    .de_cc {
        padding: 0 10px 0;
    }
    .yw_c_le.mt_100 {
        margin-top: 4%;
    }
    .join_tab.fnt_16 {
        font-size: 13px;
    }
    .fz_ri {
        padding-bottom: 75%;
    }
}

@media only screen and (max-width: 880px) {
    .join_d_all.mt_60 {
        margin-top: 20px;
    }
    .news_cell.mb_100 {
        margin-bottom: 30px;
    }
    .header .nav_right ul>li a::after {
        right: 42%;
    }
    .gs_p05.ml_70 {
        margin-left: 20px;
    }
    .gg_d_ri {
        width: 88%;
    }
}

@media only screen and (max-width: 850px) {
    .us_ri_c h1 {
        margin-top: 14%;
        margin-left: 18%;
        width: 77%;
        margin-bottom: 10px;
    }
    .us_ri_c .fnt_36 {
        font-size: 18px;
    }
    .us_ri_c p {
        width: 77%;
        margin-left: 18%;
        font-size: 14px;
    }
    .us_ri_c .mt_300 {
        margin-top: 22%;
    }
    .join_left .de_cc_text {
        top: 18%;
        width: 70%;
    }
    .fz_b_pics h1 {
        bottom: 20px;
    }
    .inve_cell li h1 a {
        -webkit-line-clamp: 1;
        line-height: 1.5;
        height: 1.5em;
    }
    .inve_cell li .ml_13 {
        margin-left: 16px;
    }
    .news_cell li h1 a {
        -webkit-line-clamp: 1;
        line-height: 1.5;
        height: 1.5em;
    }
    .news_cell li .ml_13 {
        margin-left: 16px;
    }
    .yw_le_con05>p {
        padding-right: 10px;
        margin-top: 10px;
    }
    .gs_p04.mt_180 {
        margin-top: 81px;
    }
    .lc_right.mt_200 {
        margin-top: 50px;
    }
    .ct_l {
        width: 100%;
    }
    .ct_r {
        padding-top: 20px;
        width: 100%;
    }
    .ct_pa {
        padding-top: 15px;
    }
    .ct_pa.mt_40 {
        margin-top: 15px;
    }
    .gg_pc.mt_25 {
        margin-top: 0px;
    }
    .ct_pa_l {
        width: 33%;
    }
    .ct_pa_r {
        width: 67%;
    }
    .ct_add_area li {
        width: 48.99%;
    }
    .main_left ul li h1.fnt_30 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 820px) {
    .fz_rt_con ul li a.fnt_20 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {
    .fz_left {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }
    .fz_left img {
        width: 100%;
        height: auto;
    }
    .fz_left {
        width: 100%;
    }
    .fz_right {
        width: 100%;
    }
    .fz_text {
        left: 3.5%;
    }
    .fz_text .fnt_48 {
        font-size: 24px;
    }
    .fz_text .fz_more.mt_25 {
        margin-top: 20px;
    }
    .fz_rt_con {
        left: 4%;
    }
    .fz_rt_con ul li.mt_35 {
        margin-top: 25px;
    }
    .fz_rt_con .gg_more.mt_25 {
        margin-top: 20px;
    }
    .stock_area {
        left: 4%;
    }
    .us_ri_c .mt_300 {
        margin-top: 12%;
    }
    .peo_mm.mt_60 {
        margin-top: 6%;
    }
    .header .nav_right ul>li a::after {
        right: 40%;
    }
    .lc_area.pt_20 {
        padding-top: 0;
    }
    .prc_text {
        width: 48%;
        right: 0;
        left: 4%;
    }
    .foot_right {
        float: left;
    }
    .foot_right .bdshare-button-style {
        float: left;
        text-align: left;
    }
    .foot_right .bdshare-support {
        float: left;
        text-align: left;
    }
    .foot_right.mt_95 {
        margin-top: 17px;
    }
    .footer_area {
        height: 200px;
    }
}

@media only screen and (max-width: 772px) {
    .yw_c_ri {
        width: 100%;
        padding-bottom: 20px;
        height: auto;
    }
    .wrap_copper {
        height: auto;
    }
    .yw_c_le {
        width: 100%;
    }
    .yw_c_le p {
        width: 100%;
        -webkit-line-clamp: none;
        height: auto;
    }
    .yw_cl_l {
        width: 98%;
    }
}

@media only screen and (max-width: 768px) {
    .map_con dd {
        margin-top: 5px;
    }
    #waterfall .cell {
        margin-top: 20px;
    }
    .s_b_text {
        line-height: 22px;
    }
    .gs_p05 .fnt_40 {
        font-size: 25px;
    }
    .page_area.pt_100 {
        padding-top: 20px;
    }
    .page_area.pb_100 {
        padding-bottom: 20px;
    }
    .news_cell.mb_100 {
        margin-bottom: 20px;
    }
    .news_d_relate a {
        height: 60px;
        line-height: 60px;
    }
    .sub_news {
        padding-bottom: 0;
    }
    .jn_con ul li .jn_span {
        height: 110px;
        padding-top: 17px;
        padding-left: 17px;
    }
    .incon_y_le.mt_150 {
        margin-top: 70px;
    }
    .incon_an span {
        margin-right: 4%;
    }
    .incon_y_ri {
        padding-bottom: 30.7%;
    }
    .incon_y_ri.mt_80 {
        margin-top: 40px;
    }
    .ipad_sel {
        display: block;
        margin-top: 9px;
    }
    .incon_an.fnt_60 {
        font-size: 20px;
    }
    .lc_area.pt_20 {
        padding-top: 10px;
    }
    .lc_left.mt_70 {
        margin-top: 2%;
    }
    .gs_p02.ml_145 {
        margin-left: 7%;
    }
    .gs_p03.mt_110 {
        margin-top: 60px;
    }
    .gs_p06 {
        top: 36%;
    }
    .wrap_con_nobac.pb_200 {
        padding-bottom: 100px;
    }
    .us_con_flist {
        height: 280px;
    }
    .us_sy_con.pt_100 {
        padding-top: 40px;
    }
    .sub_main_con {
        padding: 15px 0 0;
    }
    .prc_text h1.fnt_48 {
        font-size: 24px;
    }
    .min_h_us {
        min-height: 578px;
    }
    .foot_mid {
        margin-left: 0;
    }
    .ban_focus li .ban_f_con h3 {
        width: 59%;
    }
    .layui-layer {
        width: 100%!important;
        height: 500px!important;
        top: 30%!important;
        left: 0!important;
    }
    .fz_rt_con ul {
        width: 90%;
    }
    .fz_r_bot {
        height: 300px;
    }
    .fz_area {
        height: auto;
    }
    .main_left {
        width: 54%;
    }
    .main_right {
        width: 41%;
    }
    .mt_35 {
        margin-top: 15px;
    }
    .mt_100,
    .mt_95 {
        margin-top: 30px;
    }
    .foot_right.mt_95 {
        margin-top: 20px;
    }
    .main_left ul li {
        width: 100%;
        margin-bottom: 25px;
    }
    .s_footer_area {
        height: 150px;
    }
    .join_tab.fnt_16 {
        font-size: 12px;
    }
    .join_d_all table td q {
        float: left;
    }
    .news_right.mt_130 {
        margin-top: 30px;
    }
    .lc_left {
        height: 160px;
        width: 85%;
        margin-left: 15%;
    }
    .lc_l_pic {
        position: static;
        top: 0;
        left: 0;
    }
    .lc_l_pic img {
        float: right;
        margin-right: 30%;
    }
    .lc_l_pic .lc_l_des {
        float: left;
    }
    .lc_right {
        width: 100%;
    }
    .lc_right.mt_200 {
        margin-top: 0;
    }
    .map_con dt a {
        font-size: 18px;
    }
    .map_con dd a {
        font-size: 13px;
    }
    .foot_right .bdshare-support {
        font-size: 12px;
    }
}

@media only screen and (max-width: 766px) {
    .gg_con_top ul li {
        width: 99%;
    }
    .gg_d_ri {
        width: 94%;
    }
    .gg_d_t {
        margin-top: 2%;
    }
    .yw_right .de_cc_text {
        color: #999;
        position: static;
        top: 0;
        right: 0;
    }
    .de_cc_pic {
        height: auto;
        padding-bottom: 10px;
    }
    .de_cc_pic.mb_60 {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 740px) {
    .yw_le_con05>p {
        -webkit-line-clamp: 1;
        line-height: 1;
        height: 1em;
    }
    .cop_ri_t {
        width: 100%;
    }
    .us_le_c {
        width: 100%;
        padding-bottom: 0;
        height: auto;
        position: static;
    }
    .us_ri_c {
        float: left;
        width: 100%;
        padding: 0 10px 50px;
        box-sizing: border-box;
        margin: 0;
    }
    .us_ri_c h1 {
        margin-top: 8%;
        margin-left: 10%;
        width: 80%;
        margin-bottom: 10px;
    }
    .us_ri_c p {
        margin-left: 10%;
        width: 80%;
    }
    .us_ri_c .mt_300 {
        margin-top: 5%;
    }
    .us_sy_con.pt_100 {
        padding-top: 20px;
    }
    .wrap_con_nobac.pb_200 {
        padding-bottom: 0px;
    }
    .lc_l_des {
        width: 40%;
    }
    .gg_d_ri {
        width: 92%;
    }
}

@media only screen and (max-width: 700px) {
    .yw_lec_de .mt_15 {
        margin-top: 5px;
    }
    .yw_lec_de .fnt_24 {
        font-size: 13px;
    }
    .yw_lec_de .fnt_16 {
        font-size: 12px;
    }
    .peo_mm.mt_60 {
        margin-top: 4%;
    }
    .sub_main_focus li .f_mid {
        width: 67%;
    }
    .gs_p05.ml_70 {
        margin-left: 10px;
    }
    .peo_02 li {
        width: 49.1%;
        margin-bottom: 20px;
    }
    .peo_02 li:nth-child(2n) {
        margin-right: 0;
    }
    .ct_add_area li {
        width: 100%;
        height: 190px;
    }
    .ct_add {
        width: 70%;
    }
    .ct_add_area .ct_pic {
        float: right;
    }
    .gg_pc ul li:last-child {
        margin-bottom: 20px!important;
    }
    .ban_dot {
        bottom: 22px;
    }
}

@media only screen and (max-width: 680px) {
    .inve_cell li {
        padding-bottom: 28%;
    }
    .news_cell li {
        padding-bottom: 28%;
    }
    .peo_mm.mt_60 {
        margin-top: 4%;
    }
    .peo_le {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
    .peo_ri {
        float: left;
        padding: 0 10px 0;
        width: 95%;
    }
    .peo_ri.mt_85 {
        margin-top: 20px;
    }
    .yw_c_le {
        box-sizing: border-box;
        width: 100%;
    }
    .time_area {
        margin-left: 23%;
        width: 50%;
    }
    .map_con dd a {
        width: 18%;
    }
}

@media only screen and (max-width: 650px) {
    .cop_right {
        width: 100%;
        margin-top: 20px;
    }
    .cop_right ul li span {
        width: 100%;
        padding-bottom: 70%;
    }
    .lc_l_des {
        width: 35%;
    }
    .search_btn {
        margin-left: 44%;
    }
    a.inves_t_mm.mt_80 {
        margin-top: 4%;
    }
    .com_text ul li {
        width: 48.1%;
        margin-right: 1.9%;
        margin-bottom: 10px;
    }
    .news_top_date.mt_60 {
        margin-top: 10%;
    }
    .inve_mm {
        height: 50px;
        line-height: 50px;
    }
    .inve_d_m.pt_50 {
        padding-top: 20px;
    }
    .inve_ri.mt_5 {
        margin-top: 10px;
    }
    .inve_ri {
        width: 98.9%;
    }
    .inve_ri:nth-child(2n+0) {
        float: left;
        width: 98.9%;
    }
    .inve_ri:nth-child(2n+0) h1 {
        height: 95px;
    }
    .gs_p04 {
        float: left;
        width: 100%;
        padding: 0 10px 0;
        box-sizing: border-box;
    }
    .gs_p04.mt_180 {
        margin-top: 30px;
    }
    .gs_p05 {
        float: left;
        width: 100%;
    }
    .gs_p05.ml_70 {
        margin-left: 0px;
    }
    .gs_p05.mt_100 {
        margin-top: 10px;
    }
    .gs_p05.mt_180 {
        margin-top: 10px;
    }
    .gs_p06 {
        float: left;
        position: static;
        width: 100%;
        box-sizing: border-box;
        margin-top: 4px;
        height: auto;
        padding-bottom: 10px;
    }
    .gs_s_c {
        margin-right: 10px;
    }
    .gg_th_list ul li {
        width: 24%;
    }
    .gg_th_list ul li:nth-child(6n) {
        margin-right: 0.9%;
    }
    .gg_th_list ul li:nth-child(10) {
        margin-right: 0.9%;
    }
    .gg_th_list ul li:last-child {
        margin-right: 0;
    }
    .cc_left .de_cc_text {
        width: 90%;
        top: 20%;
    }
    .cc_right .de_cc_text {
        width: 90%;
        top: 20%;
    }
    .news_top p {
        -webkit-line-clamp: 3;
        line-height: 1.4;
        height: 4.2em;
    }
    .header .nav_right ul>li a::after {
        right: 38%;
    }
}

@media only screen and (max-width: 620px) {
    .peo_01 {
        float: left;
        padding-bottom: 10px;
        height: auto;
    }
    .com_text ul li p {
        line-height: 25px;
    }
    .jn_con ul li,
    .jn_con ul li:first-child,
    .jn_con ul li:nth-child(6n),
    .jn_con ul li:nth-child(7n),
    .jn_con ul li:nth-child(12n) {
        width: 48%;
    }
    .jn_con ul li:first-child .jn_pics,
    .jn_con ul li:nth-child(6n) .jn_pics,
    .jn_con ul li:nth-child(7n) .jn_pics,
    .jn_con ul li:nth-child(12n) .jn_pics {
        padding-bottom: 106%;
    }
    .jn_con ul li {
        margin-right: 2.13%;
    }
    .jn_con ul li:nth-child(3n) {
        margin-right: 2.13%;
    }
    .jn_con ul li:nth-child(2n) {
        margin-right: 0;
    }
    .join_left .de_cc_text {
        top: 14%;
        width: 90%;
    }
    .f_right {
        width: 70%;
    }
    .peo_01.mt_70 {
        margin-top: 20px;
    }
    .peo_01 li {
        width: 93%;
        margin-left: 2%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #dbc07f;
    }
    .peo_01 li:last-child {
        border: none;
    }
    .inves_t_left {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
    a.inves_t_mm.mt_80 {
        margin-top: 0%;
    }
    .inves_top {
        padding-bottom: 10px;
        height: auto;
    }
    .inves_top>a {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
    .inves_top p.mt_35 {
        margin-top: 5px;
    }
    .com_text ul li {
        height: 280px;
    }
    .com_text {
        margin-top: 30px;
    }
    .cy_content h2.pt_50 {
        padding-top: 25px;
    }
    .world_map,
    .cn_map.pt_50 {
        padding-top: 10px;
    }
    .cn_mb_areas .u_scrollbar {
        height: 53%;
    }
    .map_con dd a {
        width: 16%;
    }
}

@media only screen and (max-width: 590px) {
    .sub_main_focus .bx-prev,
    .sub_main_focus .bx-next {
        display: none;
    }
    .fz_b_pics h1 {
        bottom: 10px;
    }
    .sub_main_focus li .f_mid h2 {
        line-height: 20px;
        margin-top: 2px;
    }
    .sub_main_focus li .f_mid {
        width: 89%;
    }
    .yw_right .de_cc_text {
        width: 70%;
    }
    .yw_right .de_cc_text p {
        line-height: 23px;
    }
    .cc_left .de_cc_text {
        width: 100%;
        margin-top: 24px;
        float: left;
        position: static;
        color: #666;
    }
    .de_cc_pic {
        height: auto;
        padding-bottom: 10px;
    }
    .de_cc_pic.mb_60 {
        margin-bottom: 15px;
    }
    .cc_right .de_cc_text {
        width: 100%;
        margin-top: 24px;
        float: left;
        position: static;
        color: #666;
        text-align: left;
    }
    .us_con_flist {
        height: 430px;
    }
    .us_con_flist ul {
        background: none;
    }
    .us_con_flist ul li {
        width: 50%;
        height: 48%;
    }
    .us_con_flist ul li:nth-child(1) {
        background: none;
    }
    .us_con_flist ul li:nth-child(3) {
        background: none;
    }
    .us_con_flist ul li img {
        margin-top: 14%;
    }
    .us_sy_con.pt_100 {
        padding-top: 4px;
    }
    .incon_an span {
        margin-right: 3%;
    }
    .inve_cell li {
        padding-bottom: 33%;
    }
    .news_cell li {
        padding-bottom: 33%;
    }
    .lc_l_des {
        width: 30%;
    }
    .ct_l {
        height: 300px;
    }
    .gg_r h1 {
        width: 22%;
    }
}

@media only screen and (max-width: 550px) {
    .yw_ri_con {
        width: 100%;
    }
    .news_right.mt_130 {
        margin-top: 10px;
    }
    .yw_le_con02:nth-child(4n) {
        width: 100%;
        padding-bottom: 73%;
    }
    .news_top>a {
        width: 100%;
        padding-bottom: 75.5%;
    }
    div.yw_le_con02:last-child {
        width: 100%;
    }
    .yw_le_con05>p {
        -webkit-line-clamp: 2;
        line-height: 1.5;
        height: 3em;
    }
    .sub_news {
        padding-bottom: 15px;
    }
    .news_right {
        width: 100%;
    }
    .news_top h1 {
        width: 100%;
    }
    .news_top p {
        width: 100%;
        line-height: 22px;
    }
    .news_top p.mt_35 {
        margin-top: 0px;
    }
    .gg_r h2 {
        right: -28%;
    }
    /* .inve_news { */
    /*padding: 0 10px 0;
  box-sizing: border-box;*/
    /* } */
    .inve_news li {
        width: 100%;
        margin-bottom: 15px;
    }
    .inve_news li h1 {
        height: auto;
        line-height: 23px;
    }
    .inve_t_top_mm.mt_40 {
        margin-top: 10px;
    }
    .inves_top h1>a {
        -webkit-line-clamp: 1;
        line-height: 2;
        height: 2em;
    }
    .inves_top {
        padding-bottom: 0;
        height: auto;
    }
    .inves_top p {
        line-height: 1.8;
        height: 3.6em;
    }
    .f_right h2 {
        display: none;
    }
    .join_left .de_cc_text {
        float: left;
        position: static;
        margin-top: 15px;
        color: #666;
    }
    .inve_news li h1 a {
        height: auto;
    }
    .wrap_con_nobac.pt_50 {
        padding-top: 20px;
    }
    .gg_d_ri {
        width: 90%;
    }
    .prc_text {
        width: 70%;
    }
}

@media only screen and (max-width:510px) {
    .lc_l_pic {
        width: 100%;
        text-align: center;
    }
    .lc_l_pic img {
        float: none;
        margin-right: 0;
    }
    .lc_l_des h1.fnt_40 {
        margin-top: 10px;
    }
    .lc_left {
        height: auto;
        width: 100%;
        margin-left: 0;
    }
    .lc_left .lc_l_pic.cur {
        width: 100%;
        float: left;
    }
    .lc_left .lc_l_pic h1 {
        text-align: center;
    }
    .lc_left .lc_l_pic.cur p {
        height: auto;
        text-align: center;
    }
    .lc_l_des {
        width: 100%;
    }
    .incon_top .inc_t {
        width: 95%;
    }
    .inve_t_top>a {
        width: 98%;
        padding-bottom: 55%;
    }
    .inve_t_top.mt_70 {
        margin-top: 29px;
    }
    .news_top_date.mt_60 {
        margin-top: 3%;
    }
    .inve_t_right {
        float: left;
        width: 98%;
    }
    .inve_t_right.mt_85 {
        margin-top: 15px;
    }
    .inve_t_top_mm.mt_95 {
        margin-top: 3%;
    }
    .incon_y_le {
        width: 95%;
        margin-left: 0;
        padding: 0 10px 0;
    }
    .incon_y_le p {
        text-align: left;
    }
    .incon_y_le.mt_150 {
        margin-top: 30px;
    }
    .incon_y_ri {
        float: left;
        width: 100%;
    }
    .incon_b_le {
        width: 100%;
    }
    .incon_b_ri {
        width: 100%;
    }
    .incon_b_ri.mt_160 {
        margin-top: 4px;
    }
    .join_left .de_cc_text p {
        line-height: 18px;
    }
    .incon_b_ri h1 {
        font-size: 36px;
    }
    .gg_th_list ul li {
        width: 48.5%;
        margin-right: 2.9%;
    }
    .gg_th_list ul li:nth-child(2n) {
        margin-right: 0;
    }
    .de_cc.mt_70 {
        margin-top: 20px;
    }
    .de_cc_pic.mb_60 {
        margin-bottom: 10px;
    }
    .de_cc_dpic.mb_60 {
        margin-bottom: 10px;
    }
    .pb_fre .sub_content {
        padding-bottom: 20px;
    }
    .cc_left .de_cc_text p {
        line-height: 20px;
    }
    .cc_left .de_cc_text {
        top: 4%;
        width: 95%;
    }
    .cc_left .de_cc_text .mt_15 {
        margin-top: 0;
    }
    .cc_right .de_cc_text p {
        line-height: 20px;
    }
    .cc_right .de_cc_text {
        top: 4%;
        width: 95%;
    }
    .cc_right .de_cc_text .mt_15 {
        margin-top: 0;
    }
    .inve_cell li {
        width: 100%;
        padding-bottom: 38%;
        margin-bottom: 10px;
    }
    .news_cell li {
        width: 100%;
        padding-bottom: 38%;
        margin-bottom: 10px;
    }
    .inves_t_left {
        padding-bottom: 20px;
    }
    .inve_cell.mt_35 {
        margin-top: 0px;
    }
    .news_cell.mt_35 {
        margin-top: 0px;
    }
    .incon_y_ri {
        padding-bottom: 128.7%;
    }
    .incon_b_le {
        padding-bottom: 65.5%;
    }
    .map_con dd a {
        width: 14%;
    }
    .ct_add {
        width: 75%;
    }
}

@media only screen and (max-width: 485px) {
    .search_btn {
        margin-left: 41%;
    }
    .fz_b_pics a {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 53%;
    }
    .fz_b_pics h1 {
        bottom: 19%;
        font-size: 23px;
    }
    .sub_main_focus .bx-wrapper {
        margin-bottom: 2px;
    }
    .fz_b_pics {
        padding: 0 10px 0;
    }
    .sub_main_focus {
        padding: 0 10px 10px;
    }
    .sub_main_focus .bx-wrapper .bx-viewport {
        left: 0;
    }
    .inve_cell li {
        padding-bottom: 42%;
    }
    .news_cell li {
        padding-bottom: 42%;
    }
    .se_box {
        width: 240px;
        border: 1px solid #b2b2b2;
        border-radius: 10px;
        height: 48px;
    }
    .se_box .se_text {
        width: 62%;
    }
    .peo_01 li {
        height: auto;
        padding-bottom: 20px;
    }
    .peo_01 li p.mt_27 {
        margin-top: 13px;
    }
    .peo_02.mt_70 {
        margin-top: 15px;
    }
    .prc_text p {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5;
        height: 4.5em;
    }
}

@media only screen and (max-width: 460px) {
    .ct_add {
        width: 100%;
    }
    .ct_add_area .ct_pic {
        float: left;
    }
    .ct_add_area li {
        height: auto;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .map_con dd a {
        width: 12%;
        margin-right: 50px;
    }
    .fnt_72 {
        font-size: 22px;
    }
    .gg_r h2 {
        line-height: 17px;
        width: 70%;
    }
}

@media only screen and (max-width: 445px) {
    .header .nav_right ul>li a::after {
        right: 36%;
    }
    .ct_pa_r {
        width: 58%;
    }
    .ct_pa_l,
    .ct_pa_r {
        width: 100%;
    }
    .gg_d_ri {
        width: 88%;
    }
    .header .logo {
        width: 77%;
    }
    .header .nav_btn {
        margin-top: 27px;
    }
}

@media only screen and (max-width: 414px) {
    .com_text ul li {
        margin-right: 0;
        padding: 20px 20px 0;
        width: 100%;
        box-sizing: border-box;
    }
    .com_text ul li:hover {
        background-size: cover;
    }
    .map_con dd a {
        width: 19%;
    }
    .map_con dt a {
        font-size: 15px;
    }
    .yw_le_con03 {
        width: 49.28%;
        margin-right: 1.42%;
        padding-bottom: 48.6%;
    }
    .yw_le_con03:nth-child(2n) {
        width: 49.28%;
        margin-right: 0;
    }
    .yw_b_pics a {
        width: 100%;
        padding-bottom: 28.6%;
    }
    .yw_b_pics span.mb_40 {
        margin-bottom: 10px;
    }
    .sub_main_focus li .f_mid h1.fnt_34 {
        font-size: 18px;
    }
    .sub_main_focus li .f_mid {
        width: 95%;
        padding: 1% 2% 1%;
    }
    .sub_main_focus li .f_mid h2 {
        line-height: 18px;
    }
    .join_left .de_cc_text {
        top: 9%;
    }
    .join_left .de_cc_text p {
        line-height: 16px;
    }
    .join_left .de_cc_text p.mt_15 {
        margin-top: 6px;
    }
    .join_left .de_cc_text p.mt_25 {
        margin-top: 6px;
    }
    /* .sub_h .search_btn {
        background: url(../img/jt_search.png) no-repeat;
    } */
    .ipad_sel {
        display: none;
    }
    .gs_p01 {
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    .gs_p01.mt_120 {
        margin-top: 30px;
    }
    .gs_p02 {
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    .gs_p02.ml_145 {
        margin-left: 0;
    }
    .gs_p02.mt_65 {
        margin-top: 30px;
    }
    .gs_p03 {
        float: left;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        padding-bottom: 10px;
    }
    .gs_p03.mt_110 {
        margin-top: 30px;
    }
    .gs_p04 {
        float: left;
        width: 100%;
        padding: 0 10px 0;
        box-sizing: border-box;
    }
    .gs_p04.mt_180 {
        margin-top: 30px;
    }
    .gs_p05 {
        float: left;
        width: 100%;
    }
    .gs_p05.ml_70 {
        margin-left: 0px;
    }
    .gs_p05.mt_100 {
        margin-top: 10px;
    }
    .gs_p06 {
        float: left;
        position: static;
        width: 100%;
        box-sizing: border-box;
        margin-top: 4px;
    }
    .gs_s_c {
        margin-right: 10px;
    }
    .last_nav .search_btn {
        background-position: center;
        margin-top: 4px;
    }
    .last_nav {
        display: block;
    }
    .layui-layer {
        width: 100%!important;
        height: 320px!important;
        top: 30%!important;
        left: 0!important;
    }
    .main_con {
        padding: 0;
    }
    .f_right h2 {
        display: none;
    }
    .foot_right {
        float: left;
    }
    .foot_right .bds_weixin .ewm_img {
        margin-left: -15px;
    }
    .main_con {
        padding-top: 0%;
    }
    .main_left {
        width: 94%;
        margin: 10px 12px;
    }
    .main_left ul {
        height: auto;
        min-height: auto;
        margin-left: 0;
    }
    .main_left ul li {
        width: 100%;
        margin-left: 0;
        margin-bottom: 28px;
    }
    .main_right {
        width: 100%;
    }
    .us_all {
        width: 100%;
    }
    .bx-wrapper .bx-viewport {
        box-shadow: 0;
        left: 0;
        border: 0;
        background: none;
    }
    .fz_left {
        width: 100%;
    }
    .fz_right {
        float: left;
        width: 100%;
    }
    .fz_left img {
        width: 100%;
    }
    .fz_r_top img {
        width: 100%;
    }
    .fz_rt_con ul {
        width: 95%;
    }
    .fz_rt_con ul li:last-child {
        display: none;
    }
    .stock_area {
        width: 97%;
        left: 4%;
    }
    .fz_r_bot {
        height: 200px;
    }
    .fz_area {
        height: auto;
    }
    .fz_rt_con ul li a {
        line-height: 20px;
    }
    .fz_rt_con .mt_55 {
        margin-top: 8px;
    }
    .footer_area {
        height: auto;
        padding-bottom: 15px;
    }
    .product_area {
        overflow: inherit;
    }
    .prc_text {
        top: 5%;
        left: 4%;
        width: 79%;
    }
    .prc_text p.mt_20 {
        margin-top: 0px;
    }
    .prc_text h1.fnt_48 {
        font-size: 24px;
    }
    .jt_gd_title {
        margin: 10px 6px;
    }
    .jt_wm_title {
        margin: 10px 12px;
    }
    .fz_text h1.fnt_48 {
        font-size: 24px;
    }
    .bx-wrapper .bx-controls-direction a {
        display: none;
    }
    .f_right h3.mt_12 {
        margin-top: 3px;
    }
    .ban_focus li .ban_f_con {
        top: 18%;
        left: 0;
        width: 82%;
        line-height: 16px;
    }
    .main_left ul li h1 {
        line-height: 23px;
    }
    .us_con {
        min-height: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .fnt_72 {
        font-size: 27px;
    }
    .gg_l {
        width: 100%;
        padding-bottom: 123.4%;
    }
    .gg_l.mb_40 {
        margin-bottom: 10px;
    }
    .gg_r {
        width: 100%;
        float: left;
        padding: 10px 0;
    }
    .s_footer_area {
        height: 200px;
    }
}