@media screen and (max-width: 1400px) {
    .resp_area {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        box-sizing: border-box;
    }
    /*媒体*/
    /* .perspective-flx .pic {
     height: 385px;
    } */
}

@media screen and (max-width: 1500px) {
    .resp_area .resp_details {
        width: 30%;
    }
}

@media screen and (max-width: 1500px) {
    .resp_area .resp_details .tit {
        width: 100%;
    }
}